body {
    margin:0;
    padding:0;
}

header {
    background: green;
    color: white;
    font-family: Arial, Helvetica, monospace;
    text-align: center;
    height: 40px;
}

::selection {
    background: green;
    color: white;
}

a {
    color: white;
}

a:hover {
    background:green;
}

main {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 750px;
    width: fit-content;
    display: flex;
    margin-bottom: -19px;

}

.column1 {
    width: 200px;
    min-width: 200px;
    color: white;
    background: red;
    float: left;
    font-size: 85%;
    height: 550px;
}

.column2 {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    float: right;
    font-size: 85%;
    text-align: justify
}

.column2:first-letter {
    font-size: 150%;
    color: red;
}

.nav {
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 25px;
}

footer {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 35px;
    clear:both;
}